// mastering-sass/ch02/scss/style.css
*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}
html,
body {
    padding: 0;
    margin: 0;
}

body > div {
    // We only want to get the "wrapper div"
    max-width: 38rem; // approx 600px
    margin: 0;
}
